{# Metadata #}
{% set stop_strings = ["### Instruction:", "### Input:", "### Response:"] %}

{# Template #}
{{ (messages|selectattr('role', 'equalto', 'system')|list|last).content|trim if (messages|selectattr('role', 'equalto', 'system')|list) else '' }}
{% for message in messages %}
    {% if message.role == 'system' %}
### Instruction:
{{ message.content|trim }}
    {% elif message.role == 'user' %}
### Input:
{{ message.content|trim }}
    {% elif message.role == 'assistant' %}
### Response:
{{ message.content|trim }}
    {% endif %}
{% endfor %}
